<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @application.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @application.state %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @application.resume %>
</p>

<p>
  <strong>Cover letter:</strong>
  <%= @application.cover_letter %>
</p>

<p>
  <strong>Opt in:</strong>
  <%= @application.opt_in %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
